body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('./images/shisa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    bottom: 10px;
    left: 275px;
}

.invader {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('./images/goya.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.laser {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: green;
}

.invader-laser {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: purple;
}
