body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('./images/shisa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    bottom: 10px;
    left: 275px;
}

.invader {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('./images/goya.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.laser {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: green;
}

.invader-laser {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: purple;
}

#ui-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 10px;
}

#message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
}

#message-box.hidden {
    display: none;
}

#restart-button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
